<% form_for current_admin, :url => admin_base_path(current_admin.id), :method => :put do |f|%>
  <dl class="admin-form">
    <dt>
      <%= f.label :first_name, 'First Name' %>
    </dt>
    <dd>
      <%= f.text_field :first_name %>
    </dd>
    <div class="clear"/>
    <dt>
      <%= f.label :last_name, 'Last Name' %>
    </dt>
    <dd>
      <%= f.text_field :last_name %>
    </dd>
    <div class="clear"/>
    <dt>
      <%= f.label :email, 'Email' %>
    </dt>
    <dd>
      <%= f.text_field :email %>
    </dd>
    <div class="clear"/>
    <%= f.submit 'Update' %>
  </dl>
<% end %>

<ul class="admin-menu">
  <li><%= link_to 'Category list', admin_categories_path %></li>
  <li><%= link_to 'Settings List', admin_settings_path %></li>
  <li><%= link_to 'Add item', new_admin_item_path %></li>
  <li><%= link_to 'Orders', admin_orders_path %></li>
</ul>
<% content_for :header do%>
  <h1>Admins Cabinet</h1>
<% end %>
