<% content_for :main_menu do %>
  <div id="main-menu">
    <ul id="main-menu-items">
      <li><%#= link_to 'Categories', root_path %></li>
      <li><%= link_to t('views.titles.items'), items_path %></li>
      <li><%= link_to t('views.titles.about'), about_path %></li>
      <li><%= link_to t('views.titles.shipping_details'), shipping_detail_path %>
      <li><%= link_to t('views.titles.contacts'), contact_path %>
      <% if admin_signed_in? %>
        <li><%= link_to 'Cabinet', admin_root_path %></li>
      <% end %>
    </ul>
    <% if admin_signed_in? %>
      <div class='session-links'>
        <%= link_to 'Logout', destroy_admin_session_path, :method => :delete %>
      </div>
    <% end %>
  <div id="header">
    <%= content_for :header %>
  </div>
  </div>
<% end %>
<% content_for :content do%>
  <div id="side-menu">
    <ul>
      <% @categories.each do |category| %>
        <li><%= link_to category.name, send("category_items_path", category.id), :class => 'category-link', :remote => true %></li>
      <% end %>
    </ul>
  </div>
  <div id="content-wrapper">
    <%= yield %>
  </div>
<% end %>

<%= render :template => 'layouts/application' %>
